{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}

<section class="posts">
    {% for post in object_list %}
        <article>
            <img class="rounded-circle profile_pic" src="{{post.author.profile.picture.url}}"/>
            <div>
                <a class="mr-2" href="{% url 'user-post' post.author.username %}">@{{post.author}}</a>
                <small>{{post.date_posted|date:"F d, Y"}}</small>
                <h2 class="border-bottom mb-4"><a href="{% url 'post-detail' post.id %}">{{post.title}}</a></h2>
            </div>
            <div class="content">
                <p> {{post.content|truncatewords:30}}</p>
            </div>
        </article>
    {% endfor %}
</section>

<footer>
    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a  href="?page={{ page_obj.previous_page_number}}">Prev</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a href="?page={{ num}}" class="page active">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number}}">Next</a>
            {% endif %}
        {% endif %}
    </div>
</footer>
{% endblock content %}
