{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class ="content-section">
        <form method = "POST" >
            {% csrf_token %}
            <fieldset >
                <legend class="border-bottom mb-4">Delete Post</legend>
                <p> Are you sure you want to delete the post "{{object.title}}"</p>
            </fieldset>
            <div class = "form-group">
                <button type="submit">Yes. Delete</button>
                <a class="btn " href="{% url 'post-detail' object.id %}">No, Cancel</a>
            </div>
        </form>
    </div>
{% endblock content %}