{% extends "portfolio/base.html" %}
{% block content %}
{% load static %}
<style>
    .custom_links{
    border-bottom: none
    }
    .custom_buttons{
    background-color: rgb(230, 230, 230, .1)
    }
    .custom_profile{
    width: 10rem;
    height: 10rem;
    float: left;
    margin-right: 2rem;
    }
</style>
{% if is_paginated or not page_obj.has_previous %}
<section class="post featured">
    <article>
        <img class="custom_profile" src="{% static 'portfolio/images/me.png' %}" /></a>
        <h2 style="text-align: left">About Me</h2>
        <p style="text-align: left">I study Computer Science at the University of Texas at Austin.
            I love to code apps, this website for example!
            I work with python/java and am currently searching for internships.
        </p>
        <a class="custom_links" href="{{resume.res.url}}" target="_blank" class>
            <button class="custom_buttons">resume</button>
        </a>
        <a class="custom_links scrolly" href="#projects"><button class="custom_buttons">Projects</button></a>
        <a class="custom_links scrolly" href="#copyright"><button class="custom_buttons">Social Media</button></a>
    </article>

</section>
{% endif %}

<section class="posts" id="projects">
    {% for project in object_list %}
        <article>
            <header>
                <span class="date">{{project.date_posted|date:"F d, Y" }}</span>
                <h2><a href ="{% url project.link %}">{{project.title}}</a></h2>
            </header>
            <a href="{% url project.link %}" class="image fit"><img src="{{project.picture.url}}" /></a>
            <p style="text-allign:left; line-height:1.6rem"> {{project.content}}</p>
        </article>
    {% endfor %}
</section>

<footer>
    <div class="pagination">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
              <a  href="?page={{ page_obj.previous_page_number}} #main">Prev</a>
            {% endif %}
            {% for num in page_obj.paginator.page_range %}
              {% if page_obj.number == num %}
                <a href="?page={{ num}} #main" class="page active">{{ num }}</a>
              {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <a href="?page={{ num }}">{{ num }}</a>
              {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
              <a href="?page={{ page_obj.next_page_number}} #main">Next</a>
            {% endif %}
        {% endif %}
    </div>
</footer>

{% endblock content %}
