{% extends "portfolio/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<span class="image left"> <h3>@{{user.profile}}</h3><img src="{{user.profile.picture.url}}" /></span>

<form method = "POST" enctype="multipart/form-data">
    {% csrf_token %}
    <fieldset class="form-group">
        <legend class="border-bottom mb-4">Update Info</legend>
        {{ u_form|crispy }}
        {{ p_form|crispy }}
        <div class = "form-group" style="float: right">
            <button class="btn btn-outline-info" type="submit">Update</button>
        </div>
    </fieldset>

</form>
{% endblock content %}